body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    /* Dark background color */
}

.flex {
    display: flex;
    flex-wrap: wrap;
    /* Allows cards to wrap onto new lines */
    margin-left: 5px;
    /* Center the cards horizontally */
    gap: 20px;
    /* Space between the cards */
    padding: 20px;

}

.card {
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 18%;
    /* Card width */
    margin: 0;
    /* Remove margins for better spacing control */
}

.movie-image {
    width: 100%;
    height: 70%;
    /* Adjust the height automatically */
    display: block;
}

.card-content {
    padding: 15px;
}

.movie-title {
    font-size: 1.3em;
    margin: 0;
    color: white;
}
.download-button {
    display: inline;
    padding: 5px 10px;
    margin-left: 2px;
    font-size: 1em;
    color: #fff;
    background-color: rgb(138, 12, 12);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    
}

.download-button:hover {
    background-color: rgb(179, 33, 33);
}

/* Responsive Design */
@media (max-width: 1200px) {
    .card {
        width: 250px;
        /* Adjust card width for smaller screens */
    }
}

@media (max-width: 992px) {
    .card {
        width: 220px;
        /* Adjust card width for tablets */
    }
}

@media (max-width: 768px) {
    .card {
        width: 200px;
        /* Adjust card width for mobile devices */
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%;
        /* Full width on very small screens */
    }
}