.button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.category-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color:rgb(138, 12, 12);
    color: #fff;
    cursor: pointer;
}

.category-button:hover {
    background-color: rgb(160, 25, 25);
}